* {
  outline: none !important;
}
html {
  min-height: 100%;
}
body {
  min-height: 100vh;
  line-height: 1.5em;
  overflow-x: hidden;
  font-size: 14px;
  color: $color-primary;
  font-family: $font-family-text;
  font-weight: $font-weight-regular;
  @include flexbox();
  @include flex-direction(column);
}
.sticky-footer {
  flex: 1 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 30px;
  font-weight: $font-weight-bold;
  color: $color-title;
}
a {
  color: $color-primary;
  @include transition(all 0.4s ease-in-out);

  &:hover,
  &:focus {
    text-decoration: none;
  }
  &:hover {
    color: $color-hover;
  }
}
p {
  margin: 0 0 30px;

  &:last-child {
    margin-bottom: 0;
  }
}
img {
  max-width: 100%;
  height: auto;
}
iframe {
  max-width: 100%;
}
blockquote {
  border-left: 1px solid $color-hover;
}
pre {
  white-space: pre-wrap;
  margin-bottom: 30px;
}
.nav {
  > li {
    > a {
      &:focus {
        background-color: transparent;
      }
    }
  }
}
.form-control {
  &:focus {
    border-color: $color-hover;
    @include box-shadow(none);
  }
}
#site-loadding {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 99999;
}
#back-top {
  background-color: $background-hover;
  opacity: 0;
  width: 40px;
  height: 40px;
  bottom: 0;
  cursor: pointer;
  position: fixed;
  right: 15px;
  z-index: 1000;
  @include transition(all 400ms ease-in-out);

  a {
    display: block;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    @include transition(all 0.25s ease-in-out);
  }
  &.active_top {
    opacity: 1;
    bottom: 15px;
  }
  &:hover {
    background-color: $background-primary;
  }
}