.site-shop {
  padding: 50px 0;
}
.site-shop__box {
  .woocommerce-breadcrumb,
  .woocommerce-products-header,
  .site-shop__result-count-ordering {
    background-color: #ffffff;
  }

}
.site-shop__product--item {
  position: relative;
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #dddddd;
  height: 100%;
  overflow: hidden;
  @include flexbox();
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(space-between);
}
.site-shop__result-count-ordering {
  margin-bottom: 30px;
  padding: 0 15px 15px 15px;
}
.product-opacity {
  opacity: 0.4;
  @include transition( all 0.4s ease-in-out );
}
.popIn {
  -webkit-animation: popIn .5s;
  -moz-animation:    popIn .5s;
  -o-animation:      popIn .5s;
  animation:         popIn .5s;
}
//@keyframes popIn {
//  from {transform: scale(0.85); opacity: 0;}
//  to {transform: scale(1); opacity: 1;}
//}

@-webkit-keyframes popIn {
  from {transform: scale(0.85); opacity: 0;}
  to {transform: scale(1); opacity: 1;}
}
@-moz-keyframes popIn {
  from {transform: scale(0.85); opacity: 0;}
  to {transform: scale(1); opacity: 1;}
}
@-o-keyframes popIn {
  from {transform: scale(0.85); opacity: 0;}
  to {transform: scale(1); opacity: 1;}
}
.woocommerce {
  .site-post-item {
    border-bottom: none;
  }
  .woocommerce-breadcrumb {
    margin: 0;
    padding: 15px 15px 0 15px;
  }
  .woocommerce-products-header {
    padding: 15px;

    .woocommerce-products-header__title {
      margin: 0;
      font-size: 18px;
    }
  }
  .woocommerce-result-count {
    float: none;
    margin: 0;
  }
  .woocommerce-ordering {
    float: none;
    margin: 0;
  }
  .woocommerce-ordering select {
    padding: 5px 10px;
    border: 1px solid $border-color;
  }
  span {
    &.onsale {
      position: absolute;
      display: block;
      top: 10px;
      left: -45px;
      right: auto;
      width: 150px;
      margin: 0;
      border-radius: 0;
      background-color: #ff5555;
      @include transform(rotate(-45deg));
    }
  }
  ul {
    &.products {
      margin: 0 -5px;
      text-align: center;
      @include flexbox();
      @include flex-flow(row wrap);

      &.columns-5 {
        li {
          &.product {
            width: 20%;
          }
        }
      }
      &.columns-4 {
        li {
          &.product {
            width: 25%;
          }
        }
      }
      &.columns-3 {
        li {
          &.product {
            width: 33.333333%;
          }
        }
      }
      li {
        &.first {
          clear: none;
        }
        &.product {
          float: none;
          margin: 0 0 15px;
          padding: 0 5px;

          .onsale {
            top: 10px;
            left: -45px;
            right: auto;
            width: 150px;
            margin: 0;
          }
          .woocommerce-loop-product__title {
            font-size: 14px;
            margin: 0;
            font-weight: 400;
            line-height: 1.4em;
          }
          .price {
            font-size: 14px;
            color: #ff5555;
            font-weight: 700;

            del {
              display: inline-block;
              margin-right: 5px;
            }
            ins {
              display: inline-block;
              text-decoration: none;
            }
          }
          .button {
            padding: 8px 10px;
            line-height: inherit;
            border: none;
            color: #ffffff;
            font-weight: $font-weight-regular;
            background-color: $background-primary;

            &:hover {
              background-color: $background-hover;
            }
          }
        }
      }
    }
  }
  nav {
    &.woocommerce-pagination {
      margin-top: 30px;

      ul {
        margin: 0;
        border: none;
        display: block;

        li {
          display: inline-block;
          float: none;
          border: none;

          span,
          a {
            display: block;
            cursor: pointer;
            border: 1px solid $border-color;
            padding: 5px 12px;
            line-height: inherit;
            min-width: inherit;
            @include border-radius(2px);
          }
          a {
            &:focus {
              background-color: transparent;
              color: $color-title;
            }
          }
          span.current,
          a:hover {
            color: #fff;
            background: $background-hover;
            border-color: $background-hover;
          }
        }
      }
    }
  }
  .site-shop-single {
    .site-shop-single__warp {
      margin: 0 -15px 30px;
      @include flexbox();
      @include flex-flow(row wrap);

      .product_title {
        font-size: 18px;
      }
    }
    div {
      &.product {
        .site-shop-single__gallery-box {
          width: 50%;
          padding: 0 15px;
          position: relative;
        }
        div {
          &.images {
            float: none;
            width: 100%;
            margin: 0;

            > figure {
              position: relative;
              overflow: hidden;
            }
          }
          &.summary {
            float: none;
            width: 50%;
            padding: 0 15px;
            margin: 0;
          }
        }
      }
    }
  }
}
.pswp__bg {
  background-color: rgba(0, 0, 0, 0.9);
}