/* Element Product Slider */
.element-product-slider {
  background-color: #ffffff;
  padding: 20px 0;

  .element-product-slider__warp {
    padding: 0 10px;
  }
  .product-thumbnail {
    margin-bottom: 10px;
  }
  .product-title {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .element-product-term {
    margin: 0 0 30px;
    padding-left: 15px;
    font-size: 16px;
  }
  .product-price {
    margin-top: 5px;

    span {
      font-size: 14px;
      color: #ff5555;

      ins,
      del {
        display: inline-block;
      }
      ins {
        text-decoration: none;
      }
      del {
        margin-right: 5px;

        span {
          color: #333333;
        }
      }
    }
  }
  .element-slides-nav {
    &.owl-carousel {
      .owl-nav {
        button {
          &.owl-prev {
            left: 0;
          }
          &.owl-next {
            right: 0;
          }
        }
      }
    }
  }
}