.elementor-section {
  &.elementor-section-boxed {
    > .elementor-container {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.element-slides-nav {
  &.owl-carousel {
    .owl-nav {
      margin: 0;

      button {
        position: absolute;
        top: 50%;
        margin: 0;
        @include transform(translateY(-50%));

        &.owl-prev {
          left: 10px;
        }
        &.owl-next {
          right: 10px;
        }
      }
    }
  }
}
.element-slides-dots {
  &.owl-carousel {
    .owl-dots {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
    }
  }
}

@import "elementor-slider";
@import "elementor-product-slider";